pre {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  padding: $govuk-gutter-half;
  overflow: auto;
  border: 1px solid $govuk-border-colour;
  background-color: #f8f8f8;
}

// Fix monospace font size when used with relative typography
//
// Browsers automatically reduce monospace font size
//
// [1] restores the normal text size in Mozilla Firefox, Google Chrome,
// and Safari; this unusual style rule should also be used anywhere where
// you would otherwise set the font-family property to ‘monospace’.
// [2] restores the normal text size in Internet Explorer and Opera.
//
// source:
// http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/
//
// via:
// https://github.com/alphagov/govuk-design-system/blob/master/src/stylesheets/main.scss#L130
pre,
code {
  font-family: monospace, monospace; // [1]
  font-size: 1em; // [2]
}

.sourceCode + .govuk-heading-l, .sourceCode + .govuk-heading-l {
  padding-top: 5px; }
  @media (min-width: 40.0625em) {
    .sourceCode + .govuk-heading-l, .sourceCode + .govuk-heading-l {
      padding-top: 10px; } }

.sourceCode + .govuk-heading-l, .sourceCode + .govuk-heading-l,
.sourceCode + .govuk-heading-l,
.sourceCode + .govuk-heading-l {
  padding-top: 15px; }
  @media (min-width: 40.0625em) {
    .sourceCode + .govuk-heading-l, .sourceCode + .govuk-heading-l,
    .sourceCode + .govuk-heading-l,
    .sourceCode + .govuk-heading-l {
      padding-top: 20px; } }

.sourceCode + .govuk-heading-m, .sourceCode + .govuk-heading-m,
.sourceCode + .govuk-heading-m,
.sourceCode + .govuk-heading-m,
.sourceCode + .govuk-heading-s,
.sourceCode + .govuk-heading-s,
.sourceCode + .govuk-heading-s,
.sourceCode + .govuk-heading-s {
  padding-top: 5px; }
  @media (min-width: 40.0625em) {
    .sourceCode + .govuk-heading-m, .sourceCode + .govuk-heading-m,
    .sourceCode + .govuk-heading-m,
    .sourceCode + .govuk-heading-m,
    .sourceCode + .govuk-heading-s,
    .sourceCode + .govuk-heading-s,
    .sourceCode + .govuk-heading-s,
    .sourceCode + .govuk-heading-s {
      padding-top: 10px; } }
